.header {
  background-color: transparent;
  padding: 12px 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 5; }
  .header .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .logo {
    max-width: 60px;
    max-height: 59px; }
  .header .logo-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header .info {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 21px; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .menu a {
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 61px; }
  .header .address p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 0; }
  .header .phone a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    display: block;
    margin: 0;
    text-decoration: none; }
  .header .phone:hover {
    text-decoration: none; }
  .header .toggle-menu {
    position: relative;
    width: 18px;
    height: 12px;
    cursor: pointer;
    display: none; }
    .header .toggle-menu span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: 0;
      opacity: 1; }
      .header .toggle-menu span:before {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        bottom: 5px;
        content: "";
        display: block; }
      .header .toggle-menu span:after {
        position: absolute;
        background: #fff;
        width: 18px;
        height: 2px;
        top: 5px;
        content: "";
        display: block; }
  .header .toggle-menu.menu-on span {
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:before {
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:after {
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  @media (max-width: 991px) {
    .header {
      background: #000; }
      .header .header__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit; }
      .header .address, .header .phone, .header .main-nav {
        display: none; }
      .header .menu {
        display: block;
        text-align: center; }
      .header .menu li {
        margin-left: 0;
        margin-bottom: 30px; }
      .header .menu a {
        margin-left: 0; }
      .header .main-nav.open {
        display: block; }
      .header .address-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-top: 1px solid #404040;
        border-bottom: 1px solid #404040;
        padding: 30px 0; }
        .header .address-phone p {
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 185%;
          color: #FFFFFF;
          margin-bottom: 0;
          text-align: left;
          margin-right: 65px; }
      .header .phones a {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 92%;
        color: #FFFFFF;
        margin: 0; }
      .header .toggle-menu {
        display: block; }
      .header .icon-instagram:before, .header .icon-facebook:before {
        font-size: 24px;
        color: #FFFFFF;
        margin: 0 15px; } }
  @media (max-width: 576px) {
    .header .logo {
      max-width: 45px;
      max-height: 38px; } }
  @media (max-width: 350px) {
    .header .address-phone p {
      margin-right: 45px; } }

.color {
  background: #000; }

.banner {
  position: relative;
  min-height: calc(100vh - 83px);
  background: url("../../public/images/banner.jpg") center no-repeat;
  background-size: cover;
  padding-top: 83px; }
  .banner .banner-inner {
    min-height: calc(100vh - 83px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .banner .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 161.18%;
    color: #FFFFFF;
    text-align: center;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
    background: rgba(1, 0, 54, 0.4);
    padding: 20px 10px;
    margin: auto 0; }
    .banner .caption span {
      font-weight: 700;
      font-size: 30px; }
  .banner p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 161.18%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px; }
  .banner .btn {
    -webkit-box-shadow: 0 14px 20px rgba(0, 0, 0, 0.12);
    box-shadow: 0 14px 20px rgba(0, 0, 0, 0.12);
    text-align: center;
    cursor: pointer;
    display: block;
    width: 250px;
    max-width: 100%;
    border: 2px solid #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: rgba(1, 0, 54, 0.5);
    color: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .banner .btn:hover {
    border: 2px solid #e6e6e6;
    -webkit-transition: .3s;
    transition: .3s;
    background: rgba(255, 255, 255, 0.5);
    color: #010036; }
  @media (max-width: 576px) {
    .banner .caption {
      font-size: 28px;
      line-height: 130%; }
      .banner .caption span {
        font-size: 24px; }
    .banner p {
      font-size: 24px;
      line-height: 130%; } }
  @media (max-width: 360px) {
    .banner .caption {
      font-size: 22px;
      line-height: 146%; }
      .banner .caption span {
        font-size: 20px;
        line-height: 130%; }
    .banner p {
      font-size: 20px;
      line-height: 130%; } }

.catalog {
  padding: 99px 0 84px 0; }
  .catalog .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 12px; }
  .catalog h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 161.18%;
    color: #353535;
    position: relative;
    margin-bottom: 64px; }
  .catalog h4:after {
    display: inline-block;
    height: 1px;
    background: #434343;
    content: "";
    width: 65%;
    position: absolute;
    top: 50%;
    right: 0; }
  .catalog .image {
    position: relative;
    margin-bottom: 43px; }
    .catalog .image .overflow {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: -webkit-gradient(linear, left bottom, left top, from(#000000), color-stop(49.75%, rgba(0, 0, 0, 0)));
      background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 49.75%); }
      .catalog .image .overflow p {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 161.18%;
        color: #FFFFFF;
        margin-bottom: 0;
        position: absolute;
        left: 16px;
        bottom: 12px; }
  @media (max-width: 1280px) {
    .catalog h4:after {
      display: none; } }
  @media (max-width: 991px) {
    .catalog {
      padding: 40px 0 20px 0; }
      .catalog .image {
        margin-bottom: 20px; }
      .catalog .caption {
        font-size: 28px;
        line-height: 138.18%; }
      .catalog h4 {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; } }
  @media (max-width: 768px) {
    .catalog .caption {
      font-size: 25px;
      line-height: 120%; }
    .catalog h4 {
      font-size: 25px;
      line-height: 120%; } }

.showroom {
  padding: 55px 0 46px 0;
  position: relative;
  background: url("../../public/images/bg-showroom.png") center no-repeat;
  background-size: cover; }
  .showroom .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 52px; }
  .showroom .text {
    border-left: 1px solid #fff;
    margin-bottom: 90px; }
    .showroom .text p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 161.18%;
      color: #FFFFFF;
      margin-bottom: 42px;
      margin-left: 51px;
      position: relative; }
      .showroom .text p:before {
        content: "";
        background: #FFFFFF;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -57px; }
  .showroom .info {
    border-left: 1px solid #fff; }
    .showroom .info p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 161.18%;
      color: #FFFFFF;
      margin-bottom: 0;
      margin-left: 51px;
      position: relative; }
  .showroom .inner {
    padding: 25px 30px 35px 30px;
    background: rgba(0, 0, 0, 0.95); }
    .showroom .inner p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 190.18%;
      color: #FFFFFF;
      margin-bottom: 20px; }
  .showroom h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 190.18%;
    text-align: center;
    color: #FFFFFF;
    max-width: 476px;
    margin: 0 auto 14px auto; }
  .showroom .items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 22px;
    position: relative; }
    .showroom .items:after {
      content: "";
      height: 1px;
      background: #151515;
      position: absolute;
      left: -30px;
      right: -30px;
      bottom: 0; }
  .showroom .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .showroom .icon-text {
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 190.18%;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin-top: 5px; }
  .showroom .icon-certificate {
    font-size: 50px;
    color: #FFFFFF; }
  .showroom .icon-appointment {
    font-size: 50px;
    color: #FFFFFF; }
  .showroom .icon-stack-overflow {
    font-size: 50px;
    color: #FFFFFF; }
  .showroom form .form-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 190.18%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 30px;
    max-width: 100%; }
  .showroom form input {
    border: none;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #E2E2E2;
    background: transparent;
    outline: none !important;
    margin-bottom: 20px; }
  .showroom form input::-webkit-input-placeholder, .showroom form textarea::-webkit-input-placeholder {
    color: #E2E2E2; }
  .showroom form input::-ms-input-placeholder, .showroom form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .showroom form input::-ms-input-placeholder, .showroom form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .showroom form input:-ms-input-placeholder, .showroom form textarea:-ms-input-placeholder {
    color: #E2E2E2; }
  .showroom form input::placeholder, .showroom form textarea::placeholder {
    color: #E2E2E2; }
  .showroom form button {
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #616161, silver);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px black inset;
    box-shadow: 2px 1000px 1px black inset;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none !important;
    padding: 13px 71px;
    margin-top: 20px;
    margin-left: auto;
    display: block; }
  .showroom form button:hover {
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #C0C0C0, #616161);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px black inset;
    box-shadow: 2px 1000px 1px black inset;
    -webkit-transition: .8s;
    transition: .8s; }
  @media (max-width: 991px) {
    .showroom {
      padding: 40px 0; }
      .showroom .caption {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px; }
      .showroom h4 {
        line-height: 138.18%; }
      .showroom .inner {
        margin-top: 20px; }
      .showroom .text {
        margin-bottom: 25px; }
        .showroom .text p {
          margin-bottom: 20px; }
      .showroom form .form-title {
        line-height: 138.18%;
        margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .showroom .caption {
      font-size: 25px;
      line-height: 120%; } }
  @media (max-width: 576px) {
    .showroom p {
      text-align: center; }
    .showroom .items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 0; }
      .showroom .items .item {
        margin-bottom: 20px; }
    .showroom .info {
      border: none; }
      .showroom .info p {
        text-align: center;
        margin-left: 0; }
    .showroom .text {
      border: none; }
      .showroom .text p {
        text-align: center;
        margin-left: 0; }
        .showroom .text p:before {
          display: none; }
    .showroom form button {
      margin-right: auto; }
    .showroom form input {
      padding: 5px 0; }
    .showroom form button {
      font-size: 16px;
      padding: 9px 71px; } }

.why {
  padding: 106px 0 99px 0; }
  .why h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 161.18%;
    color: #353535;
    position: relative;
    margin-bottom: 60px; }
  .why h4:after {
    display: inline-block;
    height: 1px;
    background: #434343;
    content: "";
    width: 51%;
    position: absolute;
    top: 50%;
    right: 0; }
  .why .icon-policy:before, .why .icon-file:before, .why .icon-coins:before, .why .icon-individual, .why .icon-sharing, .why .icon-stationery {
    color: #000;
    font-size: 50px; }
  .why .item {
    background: linear-gradient(247.7deg, #DBDBDB 0%, rgba(196, 196, 196, 0) 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 26px;
    margin-bottom: 44px; }
  .why .text {
    margin-left: 57px; }
  .why p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 161.18%;
    color: #000000;
    margin-bottom: 0; }
  .why .title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 161.18%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 12px; }
  @media (max-width: 1280px) {
    .why h4:after {
      display: none; } }
  @media (max-width: 1108px) {
    .why .text {
      margin-left: 20px; }
    .why .item {
      padding: 20px; } }
  @media (max-width: 1038px) {
    .why .title {
      font-size: 13px; } }
  @media (max-width: 991px) {
    .why {
      padding: 40px 0 20px 0; }
      .why .item {
        padding: 40px 20px;
        margin-bottom: 20px; }
      .why h4 {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; } }
  @media (max-width: 961px) {
    .why .item {
      height: 156px; } }
  @media (max-width: 768px) {
    .why h4 {
      font-size: 25px;
      line-height: 120%; } }
  @media (max-width: 767px) {
    .why .item {
      height: auto;
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 20px;
      margin-bottom: 20px; }
      .why .item span {
        margin-bottom: 20px; }
      .why .item .text {
        text-align: center;
        margin-left: 0; } }

.new {
  padding: 66px 0 20px 0;
  position: relative;
  background: #E8E8E8; }
  .new .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 18px; }
  .new .sub-caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 161.18%;
    text-align: center;
    color: #353535;
    margin-bottom: 60px; }
  .new .item {
    margin: 0 34px; }
    .new .item p {
      background: #FFFFFF;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 161.18%;
      color: #000000;
      margin-bottom: 0;
      padding: 17px 0 17px 23px; }
  .new h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 161.18%;
    color: #000000;
    margin-bottom: 40px;
    text-align: right;
    position: relative; }
  .new h4:after {
    display: inline-block;
    height: 1px;
    background: #434343;
    content: "";
    width: 64%;
    position: absolute;
    top: 50%;
    left: 0; }
  .new .new-slider {
    outline: none !important;
    margin-bottom: 61px; }
  .new .slick-prev:before, .new .slick-next:before {
    font-size: 1px; }
  .new .slick-prev.slick-arrow {
    left: 34px; }
  .new .slick-next {
    right: 34px; }
  .new .slick-prev, .new .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 1; }
  .new .slick-prev:active, .new .slick-next:active, .new .slick-prev:hover, .new .slick-next:hover {
    color: #000;
    border: 1px solid #fff;
    background: #fff; }
  @media (max-width: 1280px) {
    .new h4:after {
      display: none; } }
  @media (max-width: 991px) {
    .new {
      padding: 40px 0; }
      .new .new-slider {
        margin-bottom: 40px; }
      .new .new-slider:last-child {
        margin-bottom: 0; }
      .new h4 {
        text-align: center; }
      .new .caption {
        font-size: 28px;
        line-height: 138.18%; }
      .new .sub-caption {
        font-size: 20px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; }
      .new .item {
        margin: 0 10px; }
      .new .slick-prev.slick-arrow {
        left: 8px; }
      .new .slick-next {
        right: 8px; } }
  @media (max-width: 768px) {
    .new .caption {
      font-size: 25px;
      line-height: 120%; }
    .new h4 {
      font-size: 25px;
      line-height: 120%; }
    .new .slick-prev.slick-arrow {
      left: 8px; }
    .new .slick-next {
      right: 8px; }
    .new .sub-caption, .new h4 {
      font-size: 20px;
      line-height: 120%; } }
  @media (max-width: 576px) {
    .new .item {
      margin: 0; }
    .new .slick-prev.slick-arrow {
      left: 0; }
    .new .slick-next {
      right: 0; }
    .new .new-slider {
      margin-bottom: 20px; }
    .new h4 {
      margin-bottom: 20px; } }

.reviews {
  padding: 64px 0 78px 0;
  position: relative;
  background: #E8E8E8; }
  .reviews .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 64px; }
  .reviews .reviews-slider {
    outline: none; }
  .reviews .item {
    margin: 0 16px; }
  .reviews .text {
    padding: 30px 20px;
    background: #FFFFFF; }
  .reviews p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 161.18%;
    color: #000000;
    margin-bottom: 30px; }
  .reviews .name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 161.18%;
    color: #000000;
    text-align: right;
    margin-bottom: 0; }
  .reviews .slick-prev:before, .reviews .slick-next:before {
    font-size: 1px; }
  .reviews .slick-prev.slick-arrow {
    left: 0; }
  .reviews .slick-next {
    right: 0; }
  .reviews .slick-prev, .reviews .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 1; }
  .reviews .slick-prev:active, .reviews .slick-next:active, .reviews .slick-prev:hover, .reviews .slick-next:hover {
    color: #fff;
    border: 1px solid #000;
    background: #000; }
  @media (max-width: 991px) {
    .reviews {
      padding: 40px  0; }
      .reviews .caption {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px; } }
  @media (max-width: 768px) {
    .reviews .caption {
      font-size: 25px;
      line-height: 120%; }
    .reviews .item {
      margin: 0 !important; }
    .reviews .slick-prev.slick-arrow {
      left: 0; }
    .reviews .slick-next {
      right: 0; } }

.steps {
  padding: 80px 0 3px 0;
  position: relative; }
  .steps .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 50px; }
  .steps h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 161.18%;
    color: #353535;
    position: relative;
    margin-bottom: 95px; }
  .steps h4:after {
    display: inline-block;
    height: 1px;
    background: #434343;
    content: "";
    width: 81%;
    position: absolute;
    top: 50%;
    right: 0; }
  .steps .item {
    margin-bottom: 77px; }
  .steps .circle {
    position: relative;
    width: 102px;
    height: 102px;
    background: #272727;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 2; }
  .steps p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 161.18%;
    color: #000000;
    margin-bottom: 0;
    position: absolute;
    top: 20px; }
  .steps .one, .steps .three, .steps .five {
    left: 17%;
    text-align: right; }
    .steps .one .number, .steps .three .number, .steps .five .number {
      left: -60%;
      bottom: -250%; }
  .steps .two, .steps .four, .steps .six {
    right: 17%; }
    .steps .two .number, .steps .four .number, .steps .six .number {
      bottom: -250%;
      right: -60%; }
  .steps .icon-phone-call:before, .steps .icon-car:before, .steps .icon-project:before, .steps .icon-time-is-money:before, .steps .icon-improvement:before, .steps .icon-happy:before {
    font-size: 40px;
    color: #fff; }
  .steps .line {
    height: 983px;
    width: 2px;
    position: absolute;
    top: 260px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #000; }
  .steps .number {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 220px;
    line-height: 161.18%;
    color: rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
    position: absolute; }
  @media (max-width: 1280px) {
    .steps h4:after {
      display: none; } }
  @media (max-width: 1100px) {
    .steps .one, .steps .three, .steps .five {
      left: 12%;
      text-align: right; }
      .steps .one .number, .steps .three .number, .steps .five .number {
        left: -40%;
        bottom: -250%; }
    .steps .two, .steps .four, .steps .six {
      right: 12%; }
      .steps .two .number, .steps .four .number, .steps .six .number {
        bottom: -250%;
        right: -40%; } }
  @media (max-width: 1079px) {
    .steps .line {
      height: 850px;
      top: 373px; } }
  @media (max-width: 991px) {
    .steps {
      padding: 40px 0; }
      .steps .line {
        display: none; }
      .steps .one, .steps .three, .steps .five, .steps .two, .steps .four, .steps .six {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        top: 20px;
        text-align: center; }
        .steps .one .number, .steps .three .number, .steps .five .number, .steps .two .number, .steps .four .number, .steps .six .number {
          left: 0;
          bottom: -108px;
          right: 0;
          font-size: 150px; }
      .steps .caption {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px; }
      .steps h4 {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; } }
  @media (max-width: 768px) {
    .steps .caption {
      font-size: 25px;
      line-height: 120%; }
    .steps .sub-caption {
      font-size: 20px;
      line-height: 120%; } }

.project {
  padding: 134px 0;
  position: relative;
  background: url("../../public/images/bg-showroom.png") center no-repeat;
  background-size: cover; }
  .project .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 161.18%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 42px; }
  .project .sub-caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 161.18%;
    color: #FFFFFF;
    margin-bottom: 0; }
  .project .inner {
    padding: 60px 30px 60px 30px;
    background: rgba(0, 0, 0, 0.95); }
  .project form .form-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 190.18%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 30px;
    max-width: 100%; }
  .project form input {
    border: none;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #E2E2E2;
    background: transparent;
    outline: none !important;
    margin-bottom: 20px; }
  .project form input::-webkit-input-placeholder, .project form textarea::-webkit-input-placeholder {
    color: #E2E2E2; }
  .project form input::-ms-input-placeholder, .project form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .project form input::-ms-input-placeholder, .project form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .project form input:-ms-input-placeholder, .project form textarea:-ms-input-placeholder {
    color: #E2E2E2; }
  .project form input::placeholder, .project form textarea::placeholder {
    color: #E2E2E2; }
  .project form button {
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #616161, silver);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px black inset;
    box-shadow: 2px 1000px 1px black inset;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none !important;
    padding: 13px 19px;
    margin-top: 20px;
    margin-left: auto;
    display: block; }
  .project form button:hover {
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #C0C0C0, #616161);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px black inset;
    box-shadow: 2px 1000px 1px black inset;
    -webkit-transition: .8s;
    transition: .8s; }
  @media (max-width: 991px) {
    .project {
      padding: 40px 0; }
      .project form .form-title {
        margin-top: 0;
        margin-bottom: 20px; }
      .project .inner {
        padding: 40px 20px; }
      .project .caption {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; }
      .project .sub-caption {
        font-size: 20px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; }
      .project form button {
        margin-right: auto; } }
  @media (max-width: 768px) {
    .project .inner {
      padding: 20px; }
    .project .caption {
      font-size: 25px;
      line-height: 120%; }
    .project .sub-caption {
      font-size: 20px;
      line-height: 120%; } }
  @media (max-width: 576px) {
    .project form input {
      padding: 5px 0; }
    .project form button {
      font-size: 16px;
      padding: 9px 19px; } }
  @media (max-width: 400px) {
    .project form button {
      font-size: 12px;
      padding: 9px 10px; } }

.gallery {
  padding: 128px 0 102px 0;
  background: #fff; }
  .gallery .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 30px; }
  .gallery .sub-caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 161.18%;
    text-align: center;
    color: #353535;
    margin-bottom: 46px; }
  .gallery p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 161.18%;
    text-align: right;
    color: #353535;
    margin-bottom: 0;
    margin-left: auto; }
  .gallery .gallery-slider {
    outline: none !important; }
  .gallery .image {
    margin: 45px 0; }
  .gallery .button {
    text-align: right;
    margin-top: 36px; }
  .gallery .kitchen, .gallery .furniture {
    margin-bottom: 99px; }
  .gallery .btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #2E2E2E;
    display: inline-block;
    margin-left: auto;
    text-decoration: none;
    padding: 13px 42px;
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #616161, silver);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px white inset;
    box-shadow: 2px 1000px 1px white inset;
    outline: none !important;
    border-radius: 0; }
  .gallery .btn:hover, .gallery .btn:active .btn:focus {
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #C0C0C0, #616161);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px white inset !important;
    box-shadow: 2px 1000px 1px white inset !important; }
  .gallery .furniture p {
    text-align: left; }
  .gallery .furniture .button {
    text-align: left; }
  .gallery .slick-center {
    -webkit-transition: .3s;
    transition: .3s;
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 9;
    position: relative; }
  .gallery .slick-center:before, .gallery .slick-center:after {
    content: '';
    position: absolute;
    display: block;
    width: 68%;
    height: 45px;
    border: #000 solid 17px;
    opacity: 1;
    visibility: visible; }
  .gallery .slick-center:before {
    right: -10px;
    top: -10px;
    border-left: none;
    border-bottom: none;
    z-index: -5; }
  .gallery .slick-center:after {
    left: -10px;
    bottom: -10px;
    border-right: none;
    border-top: none;
    z-index: -5; }
  .gallery .slick-prev:before, .gallery .slick-next:before {
    font-size: 1px; }
  .gallery .slick-prev.slick-arrow {
    left: 0; }
  .gallery .slick-next {
    right: 0; }
  .gallery .slick-prev, .gallery .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 1; }
  .gallery .slick-prev:active, .gallery .slick-next:active, .gallery .slick-prev:hover, .gallery .slick-next:hover {
    color: #000;
    border: 1px solid #fff;
    background: #fff; }
  @media (max-width: 991px) {
    .gallery {
      padding: 40px 0 40px 0; }
      .gallery .kitchen, .gallery .furniture {
        margin-bottom: 40px; }
      .gallery .caption {
        font-size: 28px;
        line-height: 138.18%;
        margin-bottom: 20px; }
      .gallery .sub-caption {
        font-size: 20px;
        line-height: 138.18%;
        margin-bottom: 20px;
        text-align: center; }
      .gallery .button {
        margin-top: 20px; } }
  @media (max-width: 768px) {
    .gallery .caption {
      font-size: 25px;
      line-height: 120%; }
    .gallery .sub-caption {
      font-size: 20px;
      line-height: 120%; }
    .gallery .image {
      margin: 0; }
    .gallery .button {
      margin-top: 0; }
    .gallery p {
      text-align: center; }
    .gallery .furniture p {
      text-align: center; }
    .gallery .furniture .button {
      text-align: center; }
    .gallery .button {
      text-align: center; } }
  @media (max-width: 576px) {
    .gallery .btn {
      font-size: 16px;
      padding: 9px 42px; }
    .gallery p {
      font-size: 26px;
      line-height: 120.18%; } }

.find {
  padding: 63px 0 59px 0;
  position: relative;
  background: rgba(0, 0, 0, 0.95); }
  .find .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 190.18%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 42px; }
  .find form .inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 50px; }
  .find form input {
    border: none;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 0;
    width: 40%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #E2E2E2;
    background: transparent;
    outline: none !important;
    margin-bottom: 20px; }
  .find form input::-webkit-input-placeholder, .find form textarea::-webkit-input-placeholder {
    color: #E2E2E2; }
  .find form input::-ms-input-placeholder, .find form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .find form input::-ms-input-placeholder, .find form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .find form input:-ms-input-placeholder, .find form textarea:-ms-input-placeholder {
    color: #E2E2E2; }
  .find form input::placeholder, .find form textarea::placeholder {
    color: #E2E2E2; }
  .find form textarea {
    border: none;
    border-bottom: 1px solid #D1D1D1;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #E2E2E2;
    background: transparent;
    outline: none !important;
    height: 37px;
    margin-bottom: 70px; }
  .find form textarea::-webkit-input-placeholder {
    color: #E2E2E2; }
  .find form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .find form textarea::-ms-input-placeholder {
    color: #E2E2E2; }
  .find form textarea:-ms-input-placeholder {
    color: #E2E2E2; }
  .find form textarea::placeholder {
    color: #E2E2E2; }
  .find form button {
    border: 3px solid transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #616161, silver);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px black inset;
    box-shadow: 2px 1000px 1px black inset;
    cursor: pointer;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    outline: none !important;
    padding: 13px 71px;
    margin-left: auto;
    display: block; }
  .find form button:hover {
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #C0C0C0, #616161);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -webkit-box-shadow: 2px 1000px 1px black inset;
    box-shadow: 2px 1000px 1px black inset;
    -webkit-transition: .8s;
    transition: .8s; }
  .find .inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .find .social a {
    text-decoration: none;
    color: #FFFFFF; }
  .find .social p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 190.18%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .find .icon-facebook:before, .find .icon-instagram:before {
    color: #FFFFFF;
    font-size: 24px; }
  .find .icon-facebook:before {
    margin-right: 34px; }
  @media (max-width: 991px) {
    .find {
      padding: 40px 0; }
      .find .caption {
        line-height: 138.18%; } }
  @media (max-width: 768px) {
    .find form .inputs {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 0; }
    .find form textarea {
      margin-bottom: 20px; }
    .find .inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .find form input {
      width: 100%; }
    .find form button {
      margin-right: auto;
      margin-bottom: 20px; }
    .find .social p {
      margin-bottom: 20px; }
    .find .icons {
      width: 87px;
      margin: auto; }
    .find .caption {
      line-height: 120%; } }

.footer {
  padding: 78px 0 50px 0;
  position: relative;
  background-color: #fff; }
  .footer .map {
    margin-left: auto;
    width: 75%;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); }
  .footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    max-width: 440px;
    width: 100%;
    height: 276px;
    background: rgba(0, 0, 0, 0.79);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    left: 0;
    top: calc(50% - 138px); }
    .footer .info p {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 127.68%;
      color: #FFFFFF;
      margin-left: 49px;
      margin-bottom: 10px; }
  @media (max-width: 991px) {
    .footer {
      padding: 40px 0 0 0; }
      .footer .info {
        position: relative;
        right: 0;
        margin: 0 auto 20px auto; }
        .footer .info p {
          text-align: center;
          margin-left: 0; }
      .footer .map {
        width: 100%;
        margin-right: auto; } }

@font-face {
  font-family: 'icomoon';
  src: url("../../public/fonts/icomoon.eot?pd6ogu");
  src: url("../../public/fonts/icomoon.eot?pd6ogu#iefix") format("embedded-opentype"), url("../../public/fonts/icomoon.ttf?pd6ogu") format("truetype"), url("../../public/fonts/icomoon.woff?pd6ogu") format("woff"), url("../../public/fonts/icomoon.svg?pd6ogu#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-appointment:before {
  content: "\e900";
  color: #fff; }

.icon-car:before {
  content: "\e901";
  color: #fff; }

.icon-certificate:before {
  content: "\e902";
  color: #fff; }

.icon-coins:before {
  content: "\e903"; }

.icon-facebook:before {
  content: "\e904"; }

.icon-file:before {
  content: "\e905"; }

.icon-happy:before {
  content: "\e906";
  color: #fff; }

.icon-improvement:before {
  content: "\e907";
  color: #fff; }

.icon-individual:before {
  content: "\e908"; }

.icon-instagram:before {
  content: "\e909"; }

.icon-phone-call:before {
  content: "\e90a";
  color: #fff; }

.icon-policy:before {
  content: "\e90b"; }

.icon-project:before {
  content: "\e90c";
  color: #fff; }

.icon-sharing:before {
  content: "\e90d"; }

.icon-stack-overflow:before {
  content: "\e90e";
  color: #fff; }

.icon-stationery:before {
  content: "\e90f"; }

.icon-tick:before {
  content: "\e910"; }

.icon-time-is-money:before {
  content: "\e911";
  color: #fff; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
  font-style: normal;
  font-weight: normal; }
  body .btn:focus, body .btn:active, body .btn:visited, body .btn:focus-within {
    outline: none !important; }
  body .popup-link:hover, body .popup-link:focus, body .popup-link:active, body .popup-link:visited, body .popup-link:focus-within {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  body .button:focus, body .button:active, body .button:visited, body .button:focus-within {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  body :focus {
    outline: none !important; }
  body a:active, body a:focus {
    outline: none !important; }
  body input, body textarea {
    outline: none !important; }
  body input:active, body textarea:active {
    outline: none !important; }
  body :focus {
    outline: none !important; }
  body textarea {
    resize: none !important; }
  body textarea {
    resize: vertical !important; }
  body textarea {
    resize: horizontal !important; }
  body button, body a, body .btn {
    outline: none !important; }
  body input, body textarea {
    outline: none; }
  body input:active, body textarea:active {
    outline: none; }
  body :focus {
    outline: none; }
  body textarea {
    resize: none; }
  body textarea {
    resize: vertical; }
  body textarea {
    resize: horizontal; }
  body button:active, body button:focus {
    outline: none; }
  body button::-moz-focus-inner {
    border: 0; }
  body .button:active, body .button:focus {
    outline: none; }
  body .button::-moz-focus-inner {
    border: 0; }
  body a:active, body a:focus {
    outline: none; }
  body a::-moz-focus-inner {
    border: 0; }
  body .slick-prev:active, body .slick-next:active, body .slick-prev, body .slick-next {
    outline: none; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.container-custom {
  max-width: 1100px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.container-fluid {
  padding: 0 0 !important; }

img {
  width: 100%;
  height: auto; }

.devgen {
  background: #000; }

.devgen a {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: -.02em;
  color: #fff; }
  .devgen a:hover {
    text-decoration: none; }

.popup {
  background: #000;
  max-width: 594px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 35px 30px; }
  .popup form {
    display: inline-block;
    text-align: center; }
    .popup form .form-title {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 190.18%;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 20px; }
    .popup form textarea {
      border: none;
      border-bottom: 1px solid #D1D1D1;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #E2E2E2;
      background: transparent;
      outline: none !important;
      height: 37px; }
    .popup form textarea::-webkit-input-placeholder {
      color: #E2E2E2; }
    .popup form textarea::-ms-input-placeholder {
      color: #E2E2E2; }
    .popup form textarea::-ms-input-placeholder {
      color: #E2E2E2; }
    .popup form textarea:-ms-input-placeholder {
      color: #E2E2E2; }
    .popup form textarea::placeholder {
      color: #E2E2E2; }
    .popup form input {
      border: none;
      border-bottom: 1px solid #D1D1D1;
      padding: 12px 5px;
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      color: #E2E2E2;
      background: transparent;
      outline: none !important;
      margin-bottom: 20px; }
    .popup form input:focus {
      outline: none; }
    .popup form input::-webkit-input-placeholder {
      color: #E2E2E2; }
    .popup form input::-ms-input-placeholder {
      color: #E2E2E2; }
    .popup form input::-ms-input-placeholder {
      color: #E2E2E2; }
    .popup form input:-ms-input-placeholder {
      color: #E2E2E2; }
    .popup form input::placeholder {
      color: #E2E2E2; }
    .popup form button {
      border: 3px solid transparent;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #616161, silver);
      background-origin: border-box;
      background-clip: content-box, border-box;
      -webkit-box-shadow: 2px 1000px 1px black inset;
      box-shadow: 2px 1000px 1px black inset;
      cursor: pointer;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      color: #FFFFFF;
      outline: none !important;
      padding: 13px 71px;
      margin-top: 20px;
      margin-left: auto;
      display: block; }
    .popup form button:hover {
      border: solid 3px transparent;
      background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #C0C0C0, #616161);
      background-origin: border-box;
      background-clip: content-box, border-box;
      -webkit-box-shadow: 2px 1000px 1px black inset;
      box-shadow: 2px 1000px 1px black inset;
      -webkit-transition: .8s;
      transition: .8s; }
  @media (max-width: 576px) {
    .popup {
      padding: 20px 10px; }
      .popup form button {
        margin-right: auto; } }
