
.new {
  padding: 66px 0 20px 0;
  position: relative;
  background: #E8E8E8;

  .mfp-counter {
    display: none !important;
  }

  .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 18px;
  }

  .sub-caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 161.18%;
    text-align: center;
    color: #353535;
    margin-bottom: 60px;
  }

  .item {
    margin: 0 34px;

    p {
      background: #FFFFFF;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 161.18%;
      color: #000000;
      margin-bottom: 0;
      padding: 17px 0 17px 23px;
    }
  }

  h4 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 161.18%;
    color: #000000;
    margin-bottom: 40px;
    text-align: right;
    position: relative;
  }

  h4:after {
    display: inline-block;
    height: 1px;
    background: #434343;
    content: "";
    width: 64%;
    position: absolute;
    top: 50%;
    left: 0;
  }

  .new-slider {
    outline: none !important;
    margin-bottom: 61px;
  }

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 1px;
  }

  .slick-prev.slick-arrow {
    left: 34px;
  }

  .slick-next {
    right: 34px;
  }

  .slick-prev, .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    z-index: 1;
  }

  .slick-prev:active, .slick-next:active, .slick-prev:hover, .slick-next:hover {
    color: #000;
    border: 1px solid #fff;
    background: #fff;
  }
  ///slick-prev slick-next end

  ////media

  @media (max-width: 1280px) {
    h4:after {
      display: none;
    }
  }

  @media (max-width: 991px) {
    padding: 40px 0;

    .new-slider {
      margin-bottom: 40px;
    }

    .new-slider:last-child {
      margin-bottom: 0;
    }

    h4 {
      text-align: center;
    }

    .caption {
      font-size: 28px;
      line-height: 138.18%;
    }

    .sub-caption {
      font-size: 20px;
      line-height: 138.18%;
      margin-bottom: 20px;
      text-align: center;
    }

    .item {
      margin: 0 10px;
    }

    .slick-prev.slick-arrow {
      left: 8px;
    }

    .slick-next {
      right: 8px;
    }
  }

  @media (max-width: 768px) {
    .caption {
      font-size: 25px;
      line-height: 120%;
    }

    h4 {
      font-size: 25px;
      line-height: 120%;
    }

    .slick-prev.slick-arrow {
      left: 8px;
    }

    .slick-next {
      right: 8px;
    }

    .sub-caption, h4 {
      font-size: 20px;
      line-height: 120%;
    }
  }

  @media (max-width: 576px) {

    .item {
      margin: 0;
    }

    .slick-prev.slick-arrow {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .new-slider {
      margin-bottom: 20px;
    }

    h4 {
      margin-bottom: 20px;
    }
  }
}