.reviews {
  padding: 64px 0 78px 0;
  position: relative;
  background: #E8E8E8;

  .caption {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 161.18%;
    text-align: center;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 64px;
  }

  .reviews-slider {
    outline: none;
  }

  .item {
    margin: 0 16px;
  }

  .text {
    padding: 30px 20px;
    background: #FFFFFF;
  }

  p {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 161.18%;
    color: #000000;
    margin-bottom: 30px;
  }

  .name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 161.18%;
    color: #000000;
    text-align: right;
    margin-bottom: 0;
  }

  ///slick-prev slick-next

  .slick-prev:before, .slick-next:before {
    font-size: 1px;
  }

  .slick-prev.slick-arrow {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev, .slick-next {
    top: 50%;
    font-size: 16px;
    line-height: 0;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: #000;
    border: 1px solid #000;
    outline: none;
    background: transparent;
    z-index: 1;
  }

  .slick-prev:active, .slick-next:active, .slick-prev:hover, .slick-next:hover {
    color: #fff;
    border: 1px solid #000;
    background: #000;
  }
  ///slick-prev slick-next end

  //media

  @media (max-width: 991px) {
    padding: 40px  0;

    .caption {
      font-size: 28px;
      line-height: 138.18%;
      margin-bottom: 20px;
    }
  }

  @media (max-width: 768px) {
    .caption {
      font-size: 25px;
      line-height: 120%;
    }

    .item {
      margin: 0 !important;
    }
  }
}
